<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
</head>
<body>
    <div class="row">
        <form action="" method="POST">
            <!-- <select name="languages[]" maximum=5 id="" multiple size=10>
                <% @languages.each do |language| %>
                <option><%= language[0] %></option>
                <% end %>
            </select> -->
            <button>Buscar Repositórios</button>
        </form>
    </div>
</body>
</html>